* {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body::after {
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-size: cover;
  content: "";
  filter: blur(3px);
  -webkit-filter: blur(3px);
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: scale(1.1);
  width: 100vw;
  z-index: -2;
}

body::before {
  background-color: #0000a0;
  content: "";
  height: 100vh;
  opacity: 40%;
  position: fixed;
  width: 100vw;
  z-index: -1;
}

header {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  padding: 4rem 0 0 0;
  text-align: center;
}

#title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

#description {
  font-style: italic;
  font-weight: 300;
}

main {
  border-radius: 5px;
  height: auto;
  margin: 0 auto 0 auto;
  position: relative;
  width: 50%;
}

@media screen and (max-width: 1150px) {
  main {
    width: 75%;
  }
  #title {
    font-size: 2.2rem;
  }
  #description {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 580px) {
  main {
    width: 100%;
  }
  #title {
    font-size: 2rem;
  }
  #description {
    font-size: 1.12rem;
  }
}

main::before {
  background-color: #000;
  border-radius: 5px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 70%;
  position: absolute;
  right: 0;
  top: 0;
}

#survey-form {
  font-size: 1.15rem;
  padding: 1rem 3rem;
  position: relative;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 3px 3px #2874a6;
  outline: 1px solid #85c1e9;
}

#name,
#email,
#comments,
#number,
select {
  border: 0px solid #fff;
  border-radius: 5px;
  color: #484848;
  font-size: 1.05rem;
  height: 2rem;
  padding: 0.25rem;
  width: 100%;
}

select {
  height: 2.3rem;
  width: 101%;
}

label {
  display: block;
  margin: 1.25rem 0 0.5rem 0;
}

span {
  font-size: 0.9rem;
}

#survey-form p {
  margin: 1.25rem 0 0.5rem 0;
}

.selection label {
  margin: 0 0 0.35rem 0;
}

.check_label {
  cursor: pointer;
  padding: 0 0 0 2rem;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check_label input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.checkmark {
  background-color: #fff;
  border-radius: 5px;
  height: 1.25rem;
  left: 0;
  position: absolute;
  top: 0.2rem;
  width: 1.25rem;
}

.check_label:hover input ~ .checkmark,
.check_label:hover input ~ .radiomark {
  background-color: #ccc;
}

.check_label input:checked ~ .checkmark,
.check_label input:checked ~ .radiomark {
  background: #2874a6;
}

.checkmark::after,
.radiomark::after {
  content: "";
  display: none;
  position: absolute;
}

.check_label input:checked ~ .checkmark::after,
.check_label input:checked ~ .radiomark::after {
  display: block;
}

.check_label .checkmark::after {
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  height: 0.6rem;
  left: 0.4rem;
  top: 0.1rem;
  -ms-tranform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 0.35rem;
}

.radiomark {
  background-color: #fff;
  border-radius: 50%;
  height: 1.25rem;
  left: 0;
  position: absolute;
  top: 0.25rem;
  width: 1.25rem;
}

.check_label .radiomark::after {
  background: #fff;
  border-radius: 50%;
  height: 0.7rem;
  left: 0.27rem;
  top: 0.27rem;
  width: 0.7rem;
}

#comments {
  height: 10rem;
}

#submit {
  background-color: #50c878;
  border: 0px;
  border-radius: 5px;
  font-size: 1.05rem;
  height: 3rem;
  margin: 2rem 0;
  width: 100%;
}
